Django==3.0.8  # Framework
whitenoise==5.2.0  # Serving static files in a WSGI
django-filter==2.4.0  # QuerySet filtering from URL
django-extensions==3.1.0
djangorestframework==3.12.4  # Web browsable APIs
gunicorn==19.10.0  # Python WSGI HTTP Server for UNIX
django-clearcache==1.2.1
requests==2.25.1
asgiref==3.3.4
certifi==2020.12.5
chardet==4.0.0
python-dateutil==2.8.1
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.4
WebOb==1.8.7
iso8601==0.1.14
apscheduler==3.7.0